html,
body {
  margin: 0;
}
#__next {
}
.editor-edit {
  min-height: 800px !important;
  max-height: 800px !important;
}
input[type='color']::-moz-color-swatch {
  border: none;
}
.none-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.none-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.pointer {
  cursor: pointer !important;
}
.banner-img {
  width: 100vw;
  height: 40vw;
}
.app-banner-img-demo-1 {
  width: 600px;
  height: 480px;
}
.shop-icon {
  font-size: 102px;
}
.slick-dots {
  bottom: 1vw !important;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}
div.img-content > svg > g > text {
  font-weight: bold !important;
}
.none-padding {
  padding: 0 !important;
}
.merchandise-content {
  width: 20.83%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  height: 250px;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}
code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.table-container::-webkit-scrollbar {
  /* Chrome, Safari, Opera*/
  width: 6px;
}
.table-container::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.table-container::-webkit-scrollbar-thumb {
  /* Chrome, Safari, Opera*/
  background: rgb(246, 246, 247);
}
.table-container-dark::-webkit-scrollbar {
  /* Chrome, Safari, Opera*/
  width: 6px;
}
.table-container-dark::-webkit-scrollbar-track {
  background-color: rgba(47, 51, 73, 0.95);
}
.table-container-dark::-webkit-scrollbar-thumb {
  /* Chrome, Safari, Opera*/
  background: rgb(74, 80, 114);
}
.public-DraftStyleDefault-block {
  margin: 0.5rem 0 !important;
}
.table-cell-hover-light:hover {
  background-color: rgb(246, 246, 247);
}
.table-cell-hover-dark:hover {
  background-color: rgb(74, 80, 114);
}
.item-img {
  width: 100%;
  height: 214px;
  border-radius: 10px;
}
div.membership-barcode > svg {
  margin: 0 auto;
}
div.membership-barcode > svg > g > text {
  font-family: Nanumgothic !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.none-show-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.none-show-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
@media (max-width: 1350px) {
  .item-img {
    height: 20.66vw;
  }
  .app-banner-img-demo-1 {
    width: 100vw;
    height: 80vw;
  }
  .merchandise-content {
    width: 30.15%;
    height: 26.77vw;
  }
}
@media (max-width: 1000px) {
  .item-img {
    height: 31.18vw;
  }
}
@media (max-width: 850px) {
  .merchandise-content {
    width: 100%;
    height: 20.25vw;
    flex-direction: row-reverse;
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.06);
  }
}
@media (max-width: 650px) {
  .item-img {
    height: 65.73vw;
  }
  .shop-icon {
    font-size: 45px;
  }
}

@media (max-width: 350px) {
  /* div.MuiFormControl-root > div > fieldset > legend {
    font-size: 12px;
    width: 100px;
    transition: none;
    white-space: normal;
  } */
  div.phone-num > div > fieldset > legend > span {
    width: 82px !important;
  }
  div.phone-check > div > fieldset > legend > span {
    width: 66px !important;
  }
}

@media (max-width: 320px) {
  .merchandise-content {
    width: 100%;
    height: 25vw;
    flex-direction: row-reverse;
  }
}
